
{%extends 'app1/dashboard.html'%}
{% block content %}
<style>
.button {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.button1 {background-color: #4CAF50;} /* Green */



.container {
  position: relative;
  max-width:800px;

  margin:  auto;
}
.bottom-right {
  position: absolute;
  bottom: 8px;
  right: 16px;
}

.top-right {
  position: absolute;
  top: 8px;
  right: 16px;
}


.container img {vertical-align: middle;}

.container .content {
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
  color: #f1f1f1;
  width: auto;
  padding: 20px;
}
    .line {
    height: 3px;a
    width: 100%;
    background-color: #E0E0E0;
    margin-top: 10px
}
#main {
  border: 1px solid #000000;
  display: flex;
  flex-wrap: wrap;
  align-content:center;
}
.center {
  margin: auto;
  width: 60%;

}
</style>
<h1 style="margin: auto;width: 30%;">Welcome, {{user.username}}  </h1>

{% for x in b %}
 <body>

     <!-- <h4>No messages are found ....:(</h4>-->


      <div class="center" style="padding: 6px 10px 10px 10px; background-color: #f6f6f6;">
        <div class="row">

          <div class="col-sm-9">
           {% load static %}

              <div class="container">
                  {% if "oil" in x.name %}
                         <img src="{% static 'image/service/oil service.jpg' %}" alt="Notebook" style="width:102%;">

                  {% elif "water" in x.name %}
                          <img src="{% static 'image/service/water service.jpg' %}" alt="Notebook" style="width:102%;">
                  {% elif "general" in x.name %}
                          <img src="{% static 'image/service/general.png' %}" alt="Notebook" style="width:102%;">
                  {% endif %}
                  <div class="top-right"><a href="booking/{{x.name}}"><input class="button button1"value="APPLY" readonly></input></a>  </div>
                <div class="content">
                <h1>{{x.name}}</h1>
                    <div class="top-right"><h3>{{x.amount}}$</h3></div>
                    <div class="bottom-right"><h3>TIME:{{x.duration}}hrs</h3></div>
                <p>{{x.discription}}</p></div>
               </div>
            <br><div class="col-sm-1">

            </div>

          <br>
           </div>

        </div>
          <div class="line"></div>
      </div>

{%endfor%}
</body>

{% endblock %}



